html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
box-sizing: border-box;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5;
}
li{
    line-height: 1.5;
    list-style-type:disc;
    margin: 15px;
}
body{
    background-color: rgb(235, 229, 223);
}
.wrap{
    margin:0 auto;
}
header{
    margin:0 auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 187, 143);
    padding:0px 30px;
}
header a{
    color:rgb(247, 241, 229);
    margin:0px 10px;
    padding: 10px 10px;
    border-bottom:2px solid rgb(217, 187, 143);
}
header a:hover{
    color:rgb(192, 87, 46);
    border-bottom:8px solid rgb(192, 87, 46);
    transition: all 0.5s;
}
.active{
    color:rgb(143, 72, 6);
    font-weight: bold;
}
.content{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding:0px 10%;
}
.content h1,.artist_content h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin:30px;
}
.content h2{
    font-size: 20px;
    font-weight: bold;
    margin:10px 0px;
}
.content p{
    margin-bottom: 30px;
}
.content .yt_film,.content .art_img,.content{
    display: flex;
    justify-content: center;
}
.film_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}
.film_box p{
    font-size: 12px;
    margin-top: 10px;
    color:rgb(143, 72, 6) ;
}
.content img{
    width: 70%;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(217, 187, 143);
    padding:0px 30px;
    font-size: 16px;
    color: white;
}
.artist_content h1{
    margin:60px 0px;
}
.artist_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
    height: 400px;
}
.artist_content{
    padding:0px 10%;
}
.artist_content .artist_img{
    width:40%;
}
.artist_box p{
    width: 40%;
    padding:0px 30px;
}

@media screen and (max-width:900px) {
    .artist_box{
        display: flex;
        flex-direction: column;
        margin: 40px 80px;
        height: 800px;
    }
    .artist_content .artist_img{
        width:90%;
        margin-bottom: 30px;
    }
    .artist_box p{
        width: 100%;
        padding:0px 30px;
    }
    .artist_content h1{
        margin:60px 0px 20px 0px;
    }
}
@media screen and (max-width:768px) {

}
/* 1024 */
